@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");

:root {
    /* colors */
    --bg-main: rgb(4 24 31);
    --white: #e5e7eb;
    --text-main: var(--white);

    --nav-link-hover: #38bdf8;
    --nav-bg: var(--bg-main);

    --button-bg: rgba(234, 255, 0, 1);
    --button-bg-alt: rgba(133, 51, 255, 1);
    --button-bg-hover: rgb(201, 219, 0);
    --button-bg-hover-alt: rgb(116, 24, 255);
    --button-shadow: rgba(133, 51, 255, 1);
    --button-shadow-alt: #affe00;
    --button-color: rgba(4, 24, 31, 1);
    --button-color-alt: var(--white);

    /* typography */
    --fs-base: 16px;
    --fs-lg: 1.25rem;
    --fs-xl: 2rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: var(--fs-base);
}

body {
    font-family: "Work Sans", sans-serif;
    background-color: var(--bg-main);
    color: var(--text-main);
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

button {
    font-family: inherit;
    border: none;
    background: var(--button-bg);
    color: inherit;
    cursor: pointer;
}

section {
    scroll-margin-top: 72px; /* igual que la altura de tu header */
}

.bar-nav {
    background-color: var(--nav-bg);
    position: sticky;
    top: 0;
    z-index: 100;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.nav {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title {
    font-weight: 600;
    font-size: 1.5rem;
}

.nav-right {
    display: flex;
    gap: 1.5rem;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
    text-transform: uppercase;
}

.nav-links a {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-weight: 600;
    transition: color 0.2s ease, box-shadow 0.1s ease, transform 0.1s ease;
    color: var(--button-color);
    background: var(--button-bg);
    box-shadow: -2px 2px 0 0 var(--button-shadow-alt);
}

.nav-links a:hover {
    background: var(--button-bg-hover);
}

.nav-links a:active {
    box-shadow: 0px 0px 0 0 var(--button-shadow);
    transform: translate(-2px, 2px);
}

.nav-cv a {
    background: var(--button-bg-alt);
    color: var(--button-color-alt);
}

.nav-cv a:hover {
    background: var(--button-bg-hover-alt);
}

.nav-language {
    background: none;
    font-size: 0.875rem;
    opacity: 0.8;
}

.icon-language-es,
.icon-language-en {
    display: inline-flex;
    align-items: center;
    gap: 2px;
}

.icon-language-es.hidden,
.icon-language-en.hidden {
    display: none;
}

.icon-language-es img,
.icon-language-en img {
    width: 18px;
    height: auto;
}

.nav-burger {
    display: none;
}

@media (max-width: 768px) {
    .nav-right {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .nav-links {
        padding: 0 1.5rem;
        padding-top: 2rem;
        position: fixed;
        top: 72px;
        left: 0;
        width: 100%;
        height: calc(100vh - 72px);

        background-color: var(--bg-main);
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 1.5rem;

        display: none;
        z-index: 99;
    }

    .nav-links.active {
        display: flex; /* Se muestra al hacer click */
    }

    .nav-links a {
        width: 100%;
        max-width: 320px;
        text-align: center;
        font-size: 1.1rem;
        box-shadow: none;
    }

    .nav-burger {
        display: flex;
        z-index: 100;
        width: 20px;
        height: 18px;
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        background: none;
        border: none;
        padding: 0;
    }

    .nav-burger span {
        height: 2px;
        width: 100%;
        background-color: var(--white);
        border-radius: 2px;
        transition: all 0.3s ease;
    }

    .nav-burger.open span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .nav-burger.open span:nth-child(2) {
        opacity: 0;
    }

    .nav-burger.open span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }
}
